<ul class="nav nav-tabs" id="tableTab" role="tablist">
    <li class="nav-item flex-fill" role="presentation">
      <button class="nav-link active" id="table-tab" data-bs-toggle="tab" data-bs-target="#tableContent"
        type="button" role="tab" aria-controls="tableContent" aria-selected="true">Table</button>
    </li>
    <li class="nav-item flex-fill" role="presentation">
      <button class="nav-link" id="chart-tab" data-bs-toggle="tab" data-bs-target="#chartContent" type="button"
        role="tab" aria-controls="chartContent" aria-selected="false">Charts</button>
    </li>
  </ul>
  
  <div class="tab-content" id="filterTabContent">
    <!--Table-->
    <div class="tab-pane main-pane fade show active" id="tableContent" role="tabpanel" aria-labelledby="table-tab">
      <div id="table-results"><img src="/src/assets/images/frontPage.png" alt="frontPage" class="front-page"></div>
    </div>
    <!--Charts-->
    <div class="tab-pane main-pane fade" id="chartContent" role="tabpanel" aria-labelledby="chart-tab">
      <div id="charts-results"><img src="/src/assets/images/frontPage.png" alt="frontPage" class="front-page"></div>
    </div>
  </div>