<link rel="stylesheet" href="/src/components/views/project/styles.css">
<div class="project-container">
    <h1>Project</h1>
    <div>
        <p>
            This project is based on the Middle Kingdom Coffin Texts collected in the volumes of Adriaan de Buck (1935-1961) and James P. Allen (2006).
            The spellings have been registered by hand, so it is possible that it contains some minor error. Double-checking the results obtained is recommended.
            As a continuation of the studies of the variability of the spellings used in the name of Osiris in this corpus, I decided to introduce these spellings in a database that would serve as the basis for the present
            Web Application.
            Osiris Spelling Software allows you to perform complex queries against the aforementioned database and display the data filtered by specified conditions.
            These conditions are based on the different characteristics that can be deduced from every spelling:
        </p>
        <ul>
            <li>If it is the name of the god or the locution wsir NN pn/tn (used to refer to the deceased).</li>
            <li>Type of spelling (according to Manuel de Codage).</li>
            <li>Spell.</li>
            <li>Document (coffin, tombs, canoptic jars, fragments...).</li>
            <li>Time.</li>
            <li>Location.</li>
        </ul>
        <p><i>(Other characteristics based on these have been taken into account, such as the position in each document or the number of signs in every spelling)</i></p>
        <p>
            The data will be displayed in a table that can be ordered at will and on which quick searches can be made. They will also be displayed on charts, based on the number of times each feature is repeated. This makes it easy to compare large amounts of data at a glance.
        </p>
    </div>
    <div>
        <h3>Author</h3>
        <p>My name is <strong>Cesar Guerra Mendez</strong> and I'm an Egyptologist and web developer.</p>
        <p>Check my <a href="https://github.com/csrgrr">Github</a> to see more projects and my <a href="https://liverpool.academia.edu/C%C3%A9sarGuerraM%C3%A9ndez">Academia.edu</a> to check my research.</p>
        <p><strong>Email:</strong> <i>guerramendezcesar@gmail.com</i></p>
        

    </div>
    <div>
        <h3>License</h3>

        <p>I am committed to open research and have chosen the Creative Commons license for my content. This license allows others to use and share my work, but prohibits commercial derivative works. I believe in freely accessible knowledge and invite collaboration within our community. Join me in shaping a future of open ideas and innovation for all.</p>
        <p class="cc"><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a></p>
        <p class="cc"><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Osiris Spelling Software</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">César Guerra Méndez</span> distributed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Atribution-NoCnomercial 4.0 International Licence</a>.</p>
    </div>
</div>
