<link rel="stylesheet" href="/src/components/views/spellings/styles.css">

<div class="spelling-card-container">
    <h1>SPELLINGS</h1>
    <p>The spellings used for the name of Osiris in the Middle Kingdom Coffin Texts can be assigned to 3 different groups according to the main signs that compose them.</p>
    <ul>
        <li>The second group, dated to the end of the First Intermediate Period, is based on the sign of the flesh (F51) and the mouth (D21).</li>
        <li>The second group, dated to the end of the First Intermediate Period, is based on the sign of the flesh (F51) and the mouth (D21).</li>
        <li>The third group, dated slightly later than the second, would be a combination of the two previous ones or unclassified.</li>
    </ul>
    <p><i>This grouping is a pragmatic and abstract convention that should not be taken as evidence that these groups were created as such in antiquity.</i></p>
    <h3>"Eye-throne" group</h3>
    <div class="eye-throne-container"></div>
    <h3>"Flesh-mouth" group</h3>
    <div class="flesh-mouth-container"></div>
    <h3>"Others" group</h3>
    <div class="others-container"></div>

</div>

<script type="module" src="/src/components/views/spellings/script.js"></script>