	<!--Layout styles-->
	<link rel="stylesheet" href="/src/layout/styles.css">
  
  <!--NAVBAR-->
  <nav id="navbar"></nav>


  <!--SECTION-->
  <section>
    <article id="buttons">
      <button id="showAll"><img src="/src/assets/icons/all-green.png" alt="all"></button>
      <button id="showReference" class="searchReferenceBtn"><img src="/src/assets/icons/search-green.png" alt="search"></button>
      <button class="searchFilterBtn"><img src="/src/assets/icons/filter-green.png" alt="filter"></button>
    </article>
    <article class="searchContainer searchReference hide">SEARCH </article>
    <article class="searchContainer searchFilter hideFilter">FILTER</article>
    <article class="searchContainer searchNav hideNav">FILTER</article>

    
    <!--Table/Charts-->
    <article id="mainContainer">

    </article>


  </section>


  <footer>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"> <i>Cesar Guerra Mendez</i></a>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a>
   </footer>
	<!--layout JS-->
	<script type="module" src="/src/layout/layout.js"></script>