<nav class="navbar">
<a class="home-nav-btn logo-container"><img src="assets/icons/logo.png" alt="logo" id="logo"></a>
<div class="nav-buttons collapse-nav-desktop">
  <!-- <a class="home-nav-btn">Home</a> -->
  <a class="project-nav-btn">Project</a>
  <a class="spelling-nav-btn">Spellings</a>
  <a class="locations-nav-btn">Locations</a>
  <a class="sources-nav-btn">Sources</a>
</div>
<button class="collapse-nav-smartphone collapse-btn" style="background-color: rgba(0, 0, 0, 0);">
  <img src="/src/assets/icons/menu.png" alt="menu">
</button>

</nav>